body, html{
  margin: 0;
  padding: 0;
  font-size: 18px;
  /* font-weight: 400; */
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main-container{
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
  width: 20vw;
  height: 45vh;
  background-color: aliceblue;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.top-card{
  background-image: url(/images/bg-pattern-card.svg);
  width: 100%;
  height: 40%;
  border-radius: 10px 10px 0 0 ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.top-card img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
  transform: translateY(45px);
  
}

.bottom-card{
  background-color: #fff;
  width: 100%;
  height: 60%;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

