body, html{
  margin: 0;
  padding: 0;
  font-size: 18px;
  /* font-weight: 400; */
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.main-container{
  height: 100vh;
  background-color: hsl(185, 75%, 39%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-container #svg-top{
  position: absolute;
  z-index: 0;
  transform: translate(-500px, -500px);
}

.main-container #svg-bottom{
  position: absolute;
  z-index: 0;
  transform: translate(500px, 500px);
  /* body needs to be set overflow: hidden for this svg to work */
}



.card-container{
  /* width: 10vw;
  height: 40vh; */
  background-color: aliceblue;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 10px 10px rgba(0, 0, 0, 0.2);
}



@media (min-width: 400px) {
  .card-container{
    width: 90vw;
    height: 60vh;
  }
}

@media (min-width: 700px) {
  .card-container{
    width: 45vw;
    height: 50vh;
  }
}

@media (min-width: 1000px) {
  .card-container{
    width: 30vw;
    height: 45vh;
  }
} 

@media (min-width: 1400px) {
  .card-container{
    width: 20vw;
    height: 45vh;
  }
} 


.top-card{
  background-image: url(/images/bg-pattern-card.svg);
  width: 100%;
  height: 40%;
  border-radius: 10px 10px 0 0 ;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.top-card img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 4px solid white;
  transform: translateY(45px);
  
}

.bottom-card{
  background-color: #fff;
  width: 100%;
  height: 60%;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
}

.name-age{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 30px;
}

.name-age .age{
  margin-left: 5px;
}

.name-age .city{
margin-top: 3px;
}

.stats{
  border-top: 1px solid lightgray;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat p{
  margin: 3px;
  text-align: center;
}

.darker-color{
  font-weight: 700;
}

.lighter-color{
  font-weight: 400;
  opacity: .5;
  font-size: 15px;
}
